// you can custom css here
.wl-reaction {
    display: none !important;
}

:root {
    --va-code-font-size: 1.25em;
    --va-code-line-height: 1.8;
    --va-custom-block-font-size: 18px;
    --va-custom-block-code-font-size: 16px;
    --va-primary-color-soft: var(--va-c-tip-soft);
}
// rgb(231, 227, 255)

.prose ul>li::before {
    display: none !important;
}

.prose table{
    font-size: 1.05em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.prose {
    font-size: 18px;
}

.markdown-body blockquote p {
    font-size: 18px;
}

.prose blockquote p:last-of-type::after {
    display: none !important;
}

.prose blockquote p:first-of-type::before {
    display: none !important;
}

.custom-block {
    padding: 1em 2em 1em;
}

[cursor-pointer=""]{
    display: none !important;
}

.prose li {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body .prose ul li {
    padding: 2px 0;
}

.prose>ol>li> :last-child {
    margin-bottom: 0em;
}

.prose>ol>li> :first-child {
    margin-top: 0em;
}

.markdown-body .prose ol li {
    padding: 2px 0;
}

.prose ol {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    list-style-type: none;
}

.prose p {
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

.prose img {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

.custom-block.tip {
    border-color: var(--va-custom-block-tip-border);
    color: var(--va-custom-block-tip-text);
    background-color: var(--va-custom-block-tip-bg);
}

.prose img {
    margin: auto;
    display: block;
}

.prose table {
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
}